[Unit]
Description=A Scuttlebutt server for PeachCloud on %I
Requires=ssb-pub.service
Before=ssb-pub.service
BindsTo=ssb-pub.service

[Service]
Type=simple
EnvironmentFile=/etc/default/ssb-pub
Environment=PEACH_CONFIG=/etc/peach/agents/%i/
Environment=PEACH_STATE=/var/lib/peach/agents/%i/
ExecStart=/usr/bin/ssb-pub
User=peach
Restart=Always
RestartSec=1
RuntimeMaxSec=3600
StartLimitIntervalSec=0

[Install]
WantedBy=ssb-pub.target
