[Unit]
Description=ssb pub server

[Service]
Type=simple
User=ssb-pub
ExecStart=/usr/bin/ssb-pub
Restart=always

[Install]
WantedBy=multi-user.target
